@import "../scss/material-inputs.scss";
.contianer-docs {
    background: white;
    height: 200px;
}


.columns {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.column {
  width: 40%;
}


.selector {
    width: 80%;
    margin: 0 auto;
}

.no-selected {
    fill: #464646 !important;
}

svg {
  fill:white;
}


.select {
    width: 100%;

    &::after {
        font-size: 1.5rem;
        top: 70% !important;
        border-color: #666 !important;
    }

    select {
        width: 100%;
        border-bottom: 1px solid black;
        border-radius: 0;
        background: transparent;
        border: 0;
        border-bottom: 1px solid black;
        font-size: 1.5rem;

        &:hover {
            border-color: black;
        }

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.control {
    width: 100%;
    border-bottom: 1px solid black;
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 0;
    // padding-top: 10px !important;

    // font-size: 1.5rem;
    // height: 2.5em;
    .input {
        padding: 0.625rem 0.125rem 0.625rem;
        // padding: 0.725rem, 0.125rem !important;
        // padding: 0.625rem, 0.125rem 0.125rem 0.625rem !important;
        height: 2.5em !important;
        font-size: 1.5rem !important;
    }
}

