$input-color: #616161 !default;
$input-color-value: #4a4a4a !default;
$input-label: #949494 !default;
$input-font-size: 1rem !default;
$input-label-font-size: 1rem !default;

.control {
	position: relative;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	.form-help {
		position: absolute;
		width: 100%;
	}
	input {
		height: 1.9rem;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.625rem;
		font-size: $input-font-size;
		border-width: 0;
		border-color: transparent;
		line-height: 1.9;
		width: 100%;
		color: transparent;
		transition: all 0.38s ease;
		box-shadow: none;
		&:focus {
			color: $input-color-value;
			outline: none;
			~ {
				.label {
					font-size: 0.8rem;
					color: $input-color;
					top: -1rem;
					left: 0;
				}
				.bar {
					&::before {
						width: 100%;
						left: 0;
					}
				}
			}
		}
		&:valid {
			color: $input-color-value;
			~ {
				.label {
					font-size: 0.8rem;
					color: $input-color;
					top: -1rem;
					left: 0;
				}
			}
		}
	}
	textarea {
		resize: none;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		border-width: 0;
		border-color: transparent;
		line-height: 1.9;
		width: 100%;
		color: transparent;
		transition: all 0.38s ease;
		box-shadow: none;
		&:focus {
			color: $input-color-value;
			outline: none;
			~ {
				.label {
					font-size: 0.8rem;
					color: $input-color;
					top: -1rem;
					left: 0;
				}
				.bar {
					&::before {
						width: 100%;
						left: 0;
					}
				}
			}
		}
		&:valid {
			color: $input-color-value;
			~ {
				.label {
					font-size: 0.8rem;
					color: $input-color;
					top: -1rem;
					left: 0;
				}
			}
		}
    }
    // select {
	// 	width: 100%;
	// 	font-size: $input-font-size;
	// 	height: 1.6rem;
	// 	padding: 0.125rem 0.125rem 0.0625rem;
	// 	background: none;
	// 	border: none;
	// 	line-height: 1.6;
	// 	box-shadow: none;
	// 	color: #4a4a4a;
	// 	~ {
	// 		.label {
	// 			font-size: 0.8rem;
	// 			color: $input-color;
	// 			top: -1rem;
	// 			left: 0;
	// 		}
	// 	}
	// 	&:focus {
	// 		outline: none;
	// 		~ {
	// 			.label {
	// 				color: $input-label;
	// 			}
	// 			.bar {
	// 				&::before {
	// 					width: 100%;
	// 					left: 0;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.label {
		position: absolute;
		// top:  0.25rem;
		top: calc(#{$input-label-font-size} - 1.5rem);
		pointer-events: none;
		padding-left: 0.125rem;
		z-index: 1;
		color: $input-label;
		font-size: $input-label-font-size;
		font-weight: normal;
		transition: all 0.38s ease;
	}
	.bar {
		position: relative;
		border-bottom: 0.0625rem solid $input-color;
		display: block;
		&::before {
			content: "";
			height: 0.125rem;
			width: 0;
			left: 50%;
			bottom: -0.0625rem;
			position: absolute;
			transition: left 0.38s ease, width 0.38s ease;
			z-index: 2;
		}
	}
	input[type="file"] {
		line-height: 1;
		~ {
			.bar {
				display: none;
			}
		}
	}
	input.form-file {
		color: $input-color-value;
		~ {
			.label {
				font-size: 0.8rem;
				color: $input-color;
				top: -1rem;
				left: 0;
			}
		}
	}
	input.has-value {
		color: $input-color-value;
		~ {
			.label {
				font-size: 0.8rem;
				color: $input-color;
				top: -1rem;
				left: 0;
			}
		}
	}
	textarea.form-file {
		color: $input-color-value;
		~ {
			.label {
				font-size: 0.8rem;
				color: $input-color;
				top: -1rem;
				left: 0;
			}
		}
	}
	textarea.has-value {
		color: $input-color-value;
		~ {
			.label {
				font-size: 0.8rem;
				color: $input-color;
				top: -1rem;
				left: 0;
			}
		}
	}
}